.container {
  overflow-y: auto;
  height: 100vh;
  -webkit-overflow-scrolling: touch; /* smooth scroll iOS */
}

.pull-to-refresh-indicator {
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #555;
  transition: transform 0.3s;
  transform: translateY(-50px);
}

.pull-to-refresh-indicator.active {
  transform: translateY(0);
}
