<!-- app.component.html -->
<!-- <app-login></app-login> -->
 <!-- <app-splash-screen></app-splash-screen> -->

<div *ngIf="toastService.toast$ | async as toast"
     class="fixed top-4 left-1/2 transform -translate-x-1/2 px-4 py-2 rounded shadow-lg text-white transition-all z-[9999] 
            w-[90%] sm:w-auto"
     [ngClass]="{
       'bg-green-500': toast.type === 'success',
       'bg-red-500': toast.type === 'error',
       'bg-blue-500': toast.type === 'info'
     }">
  {{ toast.message }}
</div>


<div id="scrollable" class="overflow-auto h-screen bg-gray-50">
  
  
  <!-- Pull to refresh indicator -->
  <div class="flex justify-center items-center">
    <div *ngIf="isLoading">
      <app-loading-spinner size="28" color="#2563eb"></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading && isPulling" class="text-gray-500 text-sm">
      ↓ Tarik ke bawah untuk refresh
    </div>
  </div>

  <!-- Konten -->
  <app-loading-spinner></app-loading-spinner>
  <router-outlet></router-outlet>

</div>





